<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>
    <section th:fragment="product-hover">
        <ul class="product__hover">
            <li><a href="#"><img th:src="@{/customer/images/icon/heart.png}" alt=""></a></li>
            <li><a href="#"><img th:src="@{/customer/images/icon/compare.png}" alt=""> <span>Compare</span></a></li>
            <li><a href="#"><img th:src="@{/customer/images/icon/search.png}" alt=""></a></li>
        </ul>
    </section>
</body>

</html>