<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/index.html}">
<head>
    <title>Discount Codes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script th:src="@{/admin/js/khuyenmai/khuyenmai.js}"></script>

</head>
<body>

<section layout:fragment="content">
    <div class="container mt-4">
        <div class="row">
            <div class="col-6">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Tìm kiếm" id="search" th:value="${keyword}">
                    <button class="btn btn-primary" type="button" onclick="submit()">Tìm kiếm</button>
                </div>
            </div>
            <div class="col-3"></div>
            <div class="col-3 text-end">
                <a th:href="@{/admin/voucher/create}" class="btn btn-success">Tạo mã giảm giá</a>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <label for="size">Số lượng trong một trang</label>
            </div>
            <div class="col-1">
                <select class="form-select" aria-label="Default select example" id="size">
                    <option value="10" selected>10</option>
                    <option value="20" th:selected="${size == 20}">20</option>
                    <option value="50" th:selected="${size == 50}">50</option>
                </select>
            </div>
            <div class="col-1">
                <label class="col-form-label" for="status">Trạng thái:</label>
            </div>
            <div class="col-2">
                <select class="form-select" aria-label="Default select example" id="status">
                    <option value="ALL" selected>Tất cả</option>
                    <option value="ON" th:selected="${status == 'ON'}">Đang Bật</option>
                    <option value="OFF" th:selected="${status == 'OFF'}">Đang Tắt</option>
                </select>
            </div>
            <div class="col-1">
                <label class="col-form-label " for="discountRange">Lọc theo phần trăm giảm:</label>
            </div>
            <div class="col-2">
                <div id="discountRange"></div>
                <span id="selectedRange"></span>
                <input id="startRange" type="hidden" th:value="${start}">
                <input id="endRange" type="hidden" th:value="${end}">
            </div>
            <div class="col-2">
                <div class="input-group date">
                    <label class="col-form-label " for="dateFrom">Từ:</label>
                    <input type="date" class="form-control" id="dateFrom" th:value="${dateFrom}"/>
                </div>
            </div>
            <div class="col-2">
                <div class="input-group date" >
                    <label class="col-form-label " for="dateTo">Đến:</label>
                    <input type="date" class="form-control" id="dateTo" th:value="${dateTo}"/>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <table class="table" id="voucherTable">
                    <thead>
                    <tr>
                        <th class="text-center">Số thứ tự</th>
                        <th class="text-center">Mã giảm giá</th>
                        <th class="text-center">Phần trăm giảm</th>
                        <th class="text-center">Giá trị tối thiểu</th>
                        <th class="text-center">Thời gian</th>
                        <th class="text-center">Trạng thái</th>
                        <th class="text-center">Hành động</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tbody>
                    <tr th:each="voucher : ${vouchers}">
                        <td th:text="${voucher.id}" class="text-center"></td>
                        <td th:text="${voucher.tenKhuyenMai}" class="text-center"></td>
                        <td th:text="${voucher.phanTramGiam + '%'}" class="text-center"></td>
                        <td th:text="${voucher.giaTriToiThieu}" class="text-center"></td>
                        <!--                        <td th:text="${#numbers.formatCurrency(voucher.giaTriToiThieu)}" class="text-center"></td>-->
                        <td class="text-center">
                            <span th:text="${#dates.format(voucher.ngayBatDau, 'dd/MM/yyyy')}"></span>
                            <span> - </span>
                            <span th:text="${#dates.format(voucher.ngayKetThuc, 'dd/MM/yyyy')}"></span>
                        </td>
                        <td th:text="${voucher.trangThai ? 'Bật': 'Tắt'}" class="text-center"></td>
                        <td class="text-center">
                            <a th:href="@{/admin/voucher/edit/{id}(id=${voucher.id})}">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a th:href="@{/admin/voucher/toggle/{id}(id=${voucher.id})}">
                                <i th:class="${voucher.trangThai ? 'bi bi-toggle-on' : 'bi bi-toggle-off'}"></i>
                            </a>
                            <a th:href="@{/admin/voucher/delete/{id}(id=${voucher.id})}">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center pagination-sm">
                        <li th:if="${vouchers.totalPages > 0}" class="page-link"
                            th:each="pageNumber : ${pageNumbers}">
                            <a href="#"
                               th:onclick="'submit('+${pageNumber}+')'"
                               th:text="${pageNumber}"
                               th:class="${pageNumber==vouchers.number + 1} ? active"
                               class="page-link"
                            ></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
</body>
</html>
